
<div class="card card-border bg-base-100 w-96">
  <div class="card-body">
    <h2 class="card-title  w-full"><%= @note.title %></h2>
    <p><%= @note.body %>
      <div class="relative">
          <div class="tooltip tooltip-right absolute top-0 left-0 text-sm max-w-xs" data-tip="<%= @note.created_at.localtime.strftime("%d/%m/%Y %H:%M:%S") %>">
            <p>
              <%= content_tag :span, time_ago_in_words(@note.created_at) + " ago", data: { full_date: @note.created_at.localtime.strftime("%d/%m/%Y %H:%M:%S") }, class: "time-ago" %>
            </p>
          </div>
      </div>
    </p>

    <div class="card-actions justify-end">
      <%= link_to "Back", notes_path, class: "btn btn-primary text-white" %>
      <%= link_to "Edit", edit_note_path(@note), class: "btn btn-primary" %>
      <%= button_to "Delete", @note, method: :delete, class: "btn btn-error", data: { turbo_confirm: "Are you sure?" } %>
    </div>
  </div>
</div>
