<div class="card card-border bg-base-100 w-96">
  <div class="card-body">
    <h2 class="card-title w-full"><%= @note.title %></h2>
    <p><%= @note.body %>
      <div class="relative">
        <div class="tooltip tooltip-right absolute top-0 left-0 text-sm max-w-xs" data-tip="<%= @note.created_at.localtime.strftime("%d/%m/%Y %H:%M:%S") %>">
          <p>
            <%= content_tag :span, t("notes.time_ago", time: time_ago_in_words(@note.created_at)), data: { full_date: @note.created_at.localtime.strftime("%d/%m/%Y %H:%M:%S") }, class: "time-ago" %>
          </p>
        </div>
      </div>
    </p>

    <div class="card-actions justify-end mt-4">
      <%= link_to t("notes.back"), notes_path, class: "btn btn-primary text-white" %>
      <%= link_to t("notes.edit"), edit_note_path(@note), class: "btn btn-primary" %>
      <%= button_to t("notes.delete"), @note, method: :delete, class: "btn btn-error", data: { turbo_confirm: t("notes.confirm_delete") } %>
    </div>
  </div>
</div>
